<div style="text-align: center;">
    <h4>Please sign the guestbook:</h4>
  
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <div >
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Name" required [(ngModel)]="formModel.name" #inputName="ngModel">
      </div>
      <div >
        <label for="name">Feedback</label>
        <textarea rows="4" cols="50" id="feedback" name="feedback" placeholder="Feedback" [(ngModel)]="formModel.feedback"
          #inputFeedback="ngModel"></textarea>
      </div>
  
      <button type="submit">Sign</button>
  
    </form>
  </div>
  <hr>
  <div style="text-align: center;">
    <div *ngIf="guestList">
      <p *ngFor="let guest of guestList">{{ guest.name }} - {{ guest.feedback }}</p>
    </div>
  </div>