
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
    background-color: #F3F2EF;
}

a.active {
    color: #23527c;
    text-decoration: underline;
}

.form-container {
    margin: 0 auto;
    max-width: 640px; 
}

.form-container > h1 {
    margin-top: 0;
    margin-bottom: 4rem;
}

.overflow-hidden {
    overflow: hidden;
}

button.btn-primary, .btn-primary:hover {
    margin-top: 1rem;
    margin-bottom: 4rem;
    background: linear-gradient(#d3ecad, #b1de70);
    border-bottom-color: #677e46;
    font-weight: 600;
    color: rgba(15,15,15,0.85);
}

.btn-primary:hover {
    background: linear-gradient(#c7e799, #a1d751);
    
}
    
button.btn-primary[disabled], button.btn-primary[disabled]:hover {
    background: #edece8;
}

.list-item {
    border: 1px solid #cbcac9;
    border-bottom: 0;
    padding: 10px;
    background-color: #fbfbfa;
}

.list-item:hover {
    background-color: #ddf1c1;
}

.list-item:first-child {
    border-radius: 5px 5px 0 0;
}

.list-item:last-child {
    border-bottom: 1px solid #cbcac9;
    border-radius: 0 0 5px 5px;
    margin-bottom: 25px
}

.header-img {
    display: inline; 
    margin: 0 25px;
}
